h3{
    margin: .3rem 0;
}

[class*="col-"] {
    height: 50px;
    border: 1px solid white;
    background-color: #006cfa;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.special{
    height: calc(50px + 2rem);
    padding: 1rem;
}

.green{
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.second, .third{
    margin-top: 1rem;
}

.third{
    margin-bottom: 1rem;
}